.c9/*
.smf/*
.pm2/*
.npm/*
.tmp/*
.templates/*
output/*
plugin/*
!output/Android/README.md
!output/iOS/README.md
!plugin/Android/README.md
!plugin/iOS/README.md
node_modules/
scripts/ui
scripts/themes
scripts/generated
.DS_Store
/packages
dist